* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* all-purpose rules */

	html {
		position: relative;
		min-height: 100%;
	}

	#everything-wrapper {
		max-width: 1000px;
	}

	body {
	  background: #fff; /* For browsers that do not support gradients */
	  background: -webkit-linear-gradient(#fff, #ddd); /* For Safari 5.1 to 6.0 */
	  background: -o-linear-gradient(#fff, #ddd); /* For Opera 11.1 to 12.0 */
	  background: -moz-linear-gradient(#fff, #ddd); /* For Firefox 3.6 to 15 */
	  background: linear-gradient(#fff, #ddd); /* Standard syntax */
	  background-attachment: fixed;

	  margin-bottom: 60px; /*to accomodate footer*/
	}

/* nav bar */

/* main content */

	#about-header {
		margin-top: 5px;
	}

	.hrBig, .hrLittle {
	background: #ccc;
	width: 100%;
	margin: 20px 0px 20px 0px;
	}

	.hrBig {
		height: 3px;
	}

	.hrLittle {
		height: 2px;
	}

	#headshot {
		max-width: 200px;
		margin: 0 5px 5px 0;
	}

/* Connect sidebar */
	.icon {
		height: auto;
		max-width: 60px;
	}

/* Portfolio */

	.portfolio-caption {
		padding: 3px;
		position: relative;
		z-index: 10;
		top: -75px;
		margin: 5px;
		text-align: center;
		background: rgba(0,0,0,0.5);
		color: #eee;
		font-weight: normal;
	}

/* Contact */
	textarea {
		min-height: 100px;
	}

/* Bootstrap sticky footer */
	.footer {
	  position: absolute;
	  bottom: 0;
	  width: 100%;
	  /* Set the fixed height of the footer here */
	  height: 60px;
	  background: #888; /* For browsers that do not support gradients */
	  background: -webkit-linear-gradient(#888, #f0f0f0); /* For Safari 5.1 to 6.0 */
	  background: -o-linear-gradient(#888, #f0f0f0); /* For Opera 11.1 to 12.0 */
	  background: -moz-linear-gradient(#888, #f0f0f0); /* For Firefox 3.6 to 15 */
	  background: linear-gradient(#888, #f0f0f0); /* Standard syntax */
	  background-attachment: fixed;

	}

	.container {
	  width: auto;
	  max-width: 680px;
	  padding: 0 15px;
	}

	.container .text-muted {
		margin: 20px 0;
	}

	html {
  font-size: 14px;
}